<section class="contact">
	<a name="contact"></a>
	<section class="contactMe">
		<h2>Contact Me</h2>
	</section>
	<div class="contactSum">
		<h3>I am currently interested in all job oppurtunies and freelance projects. I look forward to hearing for you!</h3>
	</div>

	<!-- ///////////contact form///////////////// -->
	<section class="contactForm clearfix">
		<form action="https://formspree.io/timblake17x@gmail.com" action="#" method="POST" enctype="multipart/form-data">
			<p>Name:</p>
			<input name="name" placeholder="Tim Blake" type="text" size="30" />
			<p>Email:</p>
			<input name="email" placeholder="Example@example.com" type="text" size="30" />
			<br />
			<p>Message:</p>
			<textarea name="message" id="message" class="input" placeholder="Your Message Here" rows="7" cols="30"></textarea>
			<br/>
			<div class="buttonDiv"><input name="" id="submit_button" type="submit" value="Send Email" /></div>
		</form>
	</section>
</section>
