<section class="home-banner">
  <section class="aboutMe">
    <div class="timsPic">
      <img src="assets/img/timsPic2.jpg" alt="">
    </div>
    <div class="amDiv">
      <h1>Hi, I'm Tim Blake</h1>
      <p> I am a professional web developer, highly skilled in HTML, CSS and Javascript. I adhere to standards of progressive enhancement, accessibility, and separation of concerns. I am an eager learner and aspiring full stack developer. I am currently looking
        for an opportunity at which I can be constantly challenged to continue growing my career. I consider myself a creative problem solver and I love he thrill of a challenge, I started off as a mechanic at a young age and after 8 years in the field
        I felt like I could use my problem solving and diagnostic abilities in a better environment. After a lot of research and practice I fell in long with the tech scene and programming. I took the leap to make this my career, I’ve put in the work
        to get good and I’m not going to stop until I’m the best.</p>
    </div>
  </section>
  <section id="myWork">
    <h2>My Work</h2>
  </section>
</section>

<a name="projects">	</a>
