<section class="home-banner">
  <section class="aboutMe">
    <div class="timsPic">
      <img src="assets/img/timsPic2.jpg" alt="">
    </div>
    <div class="amDiv">
      <h1>Hi, I'm <span>Tim Blake</span></h1>
      <p> I am a professional web developer proficient using <span>HTML</span>, <span>CSS</span>, <span>SASS</span>, <span>JavaScript</span>, <span>PHP</span>. and <span>Wordpress</span>. I adhere to standards of progressive enhancement, accessibility, and separation of concerns. I am also working hard to learn <span>React</span>.</p>
        <p>I am an <span>eager learner</span> and <span>aspiring full stack developer</span>. I am <span>currently looking</span> for an opportunity at which I can be constantly challenged to continue growing my career. </p>

        <p>I consider myself a <span>creative problem solver</span>, after 8 years in the field of being an automotive technician I felt like I could use my problem solving and <span>diagnostic abilities</span> to do something better. After a lot of research and practice I fell
        in long with the tech scene and programming. I took the leap to make this my career, I’ve put in the <span>work</span> to get good and I’m not going to stop until I’m the <span>best</span>.</p>
    </div>
  </section>
  <section id="myWork">
    <h2>My Work</h2>
  </section>
</section>

<a name="projects">	</a>
