footer .links {
  float: right;
}

.fa-3x {
  color: black;
  margin-left: 0.5em;
  float: right;
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}

footer {
  background-color: #a76100;
  width: 100%;
}
